/* css variables */
:root {
    --white: #fff;
    --gray: #333;
    --black: #222;
    --red: hsl(352.15deg 100% 41.96%);
    --dark-red: hsl(352.15deg 100% 31.96%);
    --light-grey: #eee;
    --green: rgb(77 124 15);
}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Space Grotesk', system-ui;
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray);
    line-height: 1.5;
}


a {
    color: inherit;
}

/* logo */

.logo {
    display: block;
    padding: 1rem;
    letter-spacing: 0.15rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.badge {
    background: var(--red);
    color: #fff;
    padding: 0.1rem 0.5rem;
}


/* navigation */

nav {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}


@media screen and (min-width:768px) {
    nav {
        position: sticky;
        top: 0;
        left: 0;
        background: var(--white);
        z-index: 999;
    }
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul {
    margin-bottom: 0.5rem;
}

ul a {
    text-decoration: none;
    color: var(--gray);
    padding: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: color 1s;
}


ul a:hover {
    color: var(--red);
}




@media screen and (min-width: 768px) {

    nav>div {
        align-items: center;
    }

    nav ul {
        justify-content: end;
        margin-right: 3rem;
    }

    nav ul {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 568px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 0.5rem;
    }

}


/* banner */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

.banner h1 {
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
}

.banner p {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
}


@media screen and (min-width: 768px) {

    .banner h1 {
        font-size: 3.6rem;

    }

}



/* banners */

/* Unplash - https://unsplash.com */

#home-banner {
    height: 80vh;
    background: linear-gradient(42deg, rgba(0, 0, 0, 0.7), rgb(0 0 0 / 28%)), url('../img/banner-1.jpg') center/cover no-repeat;
}

/* https://unsplash.com */

#promo-banner {
    height: 70vh;
    background: linear-gradient(42deg, rgba(0, 0, 0, 0.7), rgb(0 0 0 / 28%)), url('../img/banner-4.jpg') center/cover no-repeat;
}




/* https://unsplash.com */

#products-banner {
    height: 60vh;
    background: linear-gradient(42deg, rgba(0, 0, 0, 0.7), rgb(0 0 0 / 28%)), url('../img/banner-2.jpg') top/cover no-repeat;
}

/* https://unsplash.com */

#category-banner {
    height: 60vh;
    background: linear-gradient(42deg, rgba(0, 0, 0, 0.7), rgb(0 0 0 / 28%)), url('../img/banner-3.jpg')center/cover no-repeat;
}




/* headings or titles */

h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

/* product cards */

article {
    background-color: var(--white);
}

article h3 {
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

/* product cards with hover transition by scale */

article img {
    height: 20rem;
    object-fit: cover;
    transition: transform 1s;
}

article img:hover {
    transform: scale(1.05);
}

article p {
    font-size: 1.2rem;
}


#cart {
    position: relative;
}

#cart>span {
    background-color: var(--red);
    color: var(--white);
    border-radius: 999px;
    transform: translate(-10px, -14px);
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1;
    position: absolute;
    top: 14px;
    left: 38px;

}

del {
    font-size: 1rem;
    color: var(--green);
}


/* footer */
footer {
    text-align: center;
    padding: 2rem 1rem;
}

footer svg {
    color: var(--red);
}


@media only screen and (max-width: 768px) {

    footer ul:last-child {
        flex-direction: column;
    }

    footer ul:last-of-type li {
        margin-bottom: 1rem;
    }

}




/* products load more button */
button#load-more {
    display: inline-flex;
    align-items: center;
}

button#load-more>span {
    margin-left: 0.5rem;
}


/* css grid */

#product-grid {
    display: grid;
    grid-template-columns: 31% 31% auto;
    grid-column-gap: 1rem;

}

#product-grid img {
    height: 7rem;
    object-fit: cover;
    width: 100%;
    transition: all 1s;
    cursor: pointer;
}

#product-grid img:hover {
    transform: scale(1.05);
}


#login img,
#register img {
    height: 72vh;
    object-fit: cover;
}



#cart input {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#cart img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 0.25rem;
}

#checkout {
    align-items: start;
}


/* responsive grid system and container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
    align-items: center;
}

[class^='column-'] {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.column-50 {
    flex-basis: 50%;
}

/* breakpoints for small screens - tablets*/
@media screen and (min-width: 768px) {


    .column-md-30 {
        flex-basis: 30%;
    }


    .column-md-33 {
        flex-basis: 33%;
    }

    .column-md-50 {
        flex-basis: 50%;
    }

    .column-md-70 {
        flex-basis: 70%;
    }

}


/* breakpoints for large screens - desktop */
@media only screen and (min-width: 1024px) {

    .column-lg-30 {
        flex-basis: 30%;
    }


    .column-lg-33 {
        flex-basis: 33%;
    }

    .column-lg-50 {
        flex-basis: 50%;
    }

    .column-lg-70 {
        flex-basis: 70%;
    }

    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}




/* button with transition effect */

.btn {
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    text-align: center;
    border: none;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: inherit;
    transition: background-color 1s ease;
}

.btn:hover {
    background-color: var(--dark-red);
}



/* form controls */

label {
    display: inline-block;
    padding-bottom: 0.3rem;
}


input::placeholder {
    font-family: 'Karla', system-ui;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 0.4rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--light-grey);
    outline: none;
    transition: all 1s;
}

input:hover {
    border-color: var(--red);
}

/* diider */
hr {
    border: 1px solid var(--light-grey);
}



/* helper classes */

.img-fluid {
    display: block;
    width: 100%;
}


.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}


.mb-3 {
    margin-bottom: 3rem;
}

.shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.p-1 {
    padding: 1rem;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.w-100 {
    width: 100%;
}


.bg-grey {
    background-color: rgb(248 250 252);
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* fade in animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn ease 2s;
}